.App {
  text-align: center;
  font-family: Arial;
  padding: 30px;
}
button {
  padding: 8px 12px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
